@model URLEntryMVC.ViewModel.AccountVM.ForgetPasswordVM
<div class="col-xl">
    <div class="card mb-4">
        <div class="card-body">
            <ul style="display:none" id="errorUl">
                <li id="errorMsg" class="text-danger"></li>
            </ul>
            <form id="ResetPassForm">
                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                <div class="form-group">
                    <label asp-for="Email"></label><span style="color:red"> *</span>
                    <div class="input-group input-group-merge">
                        <input asp-for="Email"  class="form-control"
                               autocomplete="new-password" required />
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script>
    $("#saveBtn").click(function() {
        if ($("#ResetPassForm").valid()) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ForgetPassword", "Account")',
                dataType: 'json',
                data: $("#ResetPassForm").serializeArray(),
                beforeSend: function() {
                    $("#logoLoader").fadeIn();
                },
                success: function(data) {
                    var obj = JSON.parse(data);
                    $("#logoLoader").fadeOut();
                    if (obj.isSuccessfull == 0) {
                        $('#errorUl').show();
                        $('#errorMsg').html(obj.errors[0]);
                    }
                    if (obj.isSuccessfull == 1) {
                        $("#ResetPassForm").hide();
                        $('#errorUl').show();
                        $('#errorMsg').html("Email has been sent to reset your password");
                        //window.location.href = '@Url.Action("Logout", "Account")';
                    }
                }
            })
        }
    });
</script>