@model URLEntryMVC.ViewModel.AccountVM.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en"
      class="light-style customizer-hide"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Tap-That</title>

    <meta name="description" content="" />


    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../TemplateFiles/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../TemplateFiles/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../TemplateFiles/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../TemplateFiles/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../TemplateFiles/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="../TemplateFiles/assets/vendor/css/pages/page-auth.css" />
    <!-- Helpers -->
    <script src="../TemplateFiles/assets/vendor/js/helpers.js"></script>
    <script src="../TemplateFiles/assets/js/config.js"></script>
    <style>
        .loaderContainer {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5);
            z-index: 9999 !important;
            cursor: pointer;
            display: none;
        }

        .loaderBody {
            background: #0000;
            width: 50px;
            height: 50px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -100px;
            margin-top: -50px;
            border-radius: 10px;
        }
    </style>
</head>

<body>
    <!-- Content -->

    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">
                <!-- Register -->
                <div class="card">
                    <div class="card-body">
                        <!-- Logo -->
                        <div class="app-brand justify-content-center">
                            <img src="~/TSP_Logo.png" style="height:50px" />
                        </div>
                        <!-- /Logo -->
                        <h4 class="mb-2">Welcome to Tap-That!👋</h4>
                        <p class="mb-4">Your account has been activated please sign-in</p>
                        <div class="mb-3">
                            <a href="@Url.Action("Logout","Account")" class="btn btn-primary d-grid w-100">
                                Sign in
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /Register -->
            </div>
        </div>
    </div>
    <div id="logoLoader" class="loaderContainer">
        <div class="loaderBody">
            <div class="text-center">
                <div><img src="~/loader.gif" /></div>
            </div>
        </div>
    </div>
    <!--Add modal -->
    <div class="modal fade" id="MainAppModal" tabindex="-1" aria-labelledby="MainModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="MainModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="MainModalBody">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveBtn">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../TemplateFiles/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../TemplateFiles/assets/vendor/libs/popper/popper.js"></script>
    <script src="../TemplateFiles/assets/vendor/js/bootstrap.js"></script>
    <script src="../TemplateFiles/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../TemplateFiles/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="../TemplateFiles/assets/js/main.js"></script>

    <!-- Page JS -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
