@model URLEntryMVC.ViewModel.RegisterViewModel
<div class="col-xl">
    <div class="card mb-4">
        <div class="card-body">
            <ul style="display:none" id="errorUl">
                <li id="errorMsg" class="text-danger"></li>
            </ul>
            <form id="addUserForm">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" autocomplete="false" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $("#saveBtn").click(function() {
        $('#errorUl').hide();
        $('#errorMsg').html('');
        if ($("#addUserForm").valid()) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Register", "Account")',
                dataType: 'json',
                data: $("#addUserForm").serializeArray(),
                beforeSend: function() {
                    $("#logoLoader").fadeIn();
                },
                success: function(data) {
                    var obj = JSON.parse(data);
                    $("#logoLoader").fadeOut();
                    if (obj.isSuccessfull == 0) {
                        $('#errorUl').show();
                        $('#errorMsg').html(obj.errors[0]);
                    }
                    else if (obj.isSuccessfull == 1) {
                        location.reload(true);
                    }
                }
            })
        }
    });
</script>