@model URLEntryMVC.ViewModel.UrlVM.SaveUrlVM
<form id="editDomainForm">
    <div class="row">
        @Html.HiddenFor(m=>m.Id)
        <div class="col-sm-12">
            <label>Domain Link</label><span style="color:red"> *</span>
            @Html.EditorFor(m => m.DomainLink, new { htmlAttributes = new { @class = "form-control",@required="required",@type="url" } })
            @Html.ValidationMessageFor(m => m.DomainLink, "", new { @class = "text-danger", id="domainError" })
        </div>
    </div>
</form>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script>
    $("#updateBtn").click(function() {
        if ($("#editDomainForm").valid()) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateDomainLink", "URL")',
                dataType: 'json',
                data: $("#editDomainForm").serializeArray(),
                beforeSend: function() {
                    $("#logoLoader").fadeIn();
                },
                success: function(data) {
                    $("#logoLoader").fadeOut();
                    if (data == 1) {
                        location.reload(true);
                    }
                }
            })
        }
    });
</script>