
<tr>
    <td style="padding:20px;background-color: #fff">
        <p style="font-size: 12px">
            Dear <b>{user}</b>,
            <br> Please click the button below to reset your password.
        </p>
    </td>
</tr>
<tr>
    <td style="padding:20px;text-align: -webkit-center;background-color: #696cff">
        <table border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth" style="border-collapse: collapse; margin: 0 auto;">
            <tr style="text-align: center">
                <td bgcolor="#8AB83F" style="padding:10px">
                    <a href="{Url}"> <b style="color:black">Reset Password</b> </a>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td style="padding:20px;background-color: #fff">
        <p style="font-size: 12px;word-break: break-word;">
            Alternatively you can copy below link in your browser to activate your account
            <br> {Url}
            <br>
        </p>
    </td>
</tr>

